@import '../../Basic.scss';

main {
    background: $light_color;
    grid-area: main;
    overflow-y: auto;

    .main_container {
        padding: 20px 35px;

        .main_title {
            display: flex;
            align-items: center;

            img {
                max-height: 100px;
                object-fit: contain;
                margin-right: 20px
            }

            .main_greeting {
                h1 {
                    color: $color_blue;
                    margin-bottom: 5px;
                }

                p {
                    color: $link_color;
                    font-weight: 700;
                }
            }
        }

        .main_cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 30px;
            margin: 20px 0;

            .card {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 70px;
                padding: 25px;
                border-radius: $border_radius;
                background: $color_white;
                box-shadow: 5px 5px 13px $shadow_color_secondary, -5px -5px 13px $color_white;

                .card_inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        font-size: 25px;
                    }
                }
            }
        }

        .charts {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
            margin-top: 50px;

            .charts_left {
                padding: 25px;
                border-radius: $border_radius;
                background: $color_white;
                box-shadow: 5px 5px 13px $shadow_color_secondary, -5px -5px 13px $color_white;

                .charts_left_title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    > div {
                        > h1 {
                            color: $color_blue;
                            margin-bottom: 5px;
                        }

                        > p {
                            font-weight: 700;
                            color: $link_color;
                        }
                    }

                    i {
                        color: $color_white;
                        font-size: 20px;
                        background: $color_yellow;
                        border-radius: 200px 0px 200px 200px;
                        -moz-border-radius: 200px 0px 200px 200px;
                        -webkit-border-radius: 200px 0px 200px 200px;
                        border: 0px solid $color_black;
                        padding: 15px;
                    }
                }
            }

            .charts_right {
                padding: 25px;
                border-radius: $border_radius;
                background: $color_white;
                box-shadow: 5px 5px 13px $shadow_color_secondary, -5px -5px 13px $color_white;

                .charts_right_title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    > div {
                        > h1 {
                            color: $color_blue;
                            margin-bottom: 5px;
                        }

                        > p {
                            font-weight: 700;
                            color: $link_color;
                        }
                    }

                    i {
                        color: $color_white;
                        font-size: 20px;
                        background: $color_purple;
                        border-radius: 200px 0px 200px 200px;
                        border: 0px solid $color_black;
                        padding: 15px;
                    }
                }

                .charts_right_cards {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 20px;
                    margin-top: 30px;

                    .card1 {
                        background: #d1ecf1;
                        color: $font_color_blue;
                        text-align: center;
                        padding: 25px;
                        border-radius: $border_radius;
                        font-size: 14px;
                    }

                    .card2 {
                        background: #d2f9ee;
                        color: $font_color_blue;
                        text-align: center;
                        padding: 25px;
                        border-radius: $border_radius;
                        font-size: 14px;
                    }

                    .card3 {
                        background: #d6d8d9;
                        color: $font_color_dark;
                        text-align: center;
                        padding: 25px;
                        border-radius: $border_radius;
                        font-size: 14px;
                    }

                    .card4 {
                        background: #fddcdf;
                        color: $font_color_pink;
                        text-align: center;
                        padding: 25px;
                        border-radius: $border_radius;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 855px){
    .main_cards{
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}